---
import LayoutApplicatif from "../../layouts/LayoutApplicatif.astro";
---

<LayoutApplicatif title="ASAFRAM" description="ASAFRAM">
  <h1 class="text-3xl font-bold mb-6">ASAFRAM</h1>
  <p>Bienvenue sur la plateforme ASAFRAM.</p>
</LayoutApplicatif>
