# Fichiers de build
dist/
.output/

# Dépendances
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers d'environnement
.env
.env.production

# Fichiers générés par l'éditeur
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Fichiers système macOS
.DS_Store

# Ignorer tous les fichiers de la base de données PocketBase
/backend/pocketbase/pb_data/
