---
import LayoutLandingPage from "../layouts/LayoutLandingPage.astro";
---

<LayoutLandingPage
  title="Contact"
  description="Contactez-nous pour toute question ou demande."
  alt="Contact ASAFRAM"
  classContent="bg-white text-black"
>
  <h1>Contact</h1>
</LayoutLandingPage>
