---
import LayoutLandingPage from "../layouts/LayoutLandingPage.astro"
---

<LayoutLandingPage>
    <h1 class="text-black font-bold">Hey</h1>
    <a class="btn-landing-page" href="">S'inscrire</a>
</LayoutLandingPage>