---
import LayoutLandingPage from "../layouts/LayoutLandingPage.astro";
import fondPartenaire from "../assets/fond/partenaire-fond.webp";
import whiteTransition from "../assets/fond/white-transition.webp";
---
<LayoutLandingPage
    title="Devenir Partenaire"
    description="Devenez partenaire de l'ASAFRAM et rejoignez notre communauté dynamique."
    src={fondPartenaire}
    alt="Partenaire ASAFRAM"
    classContent="bg-white text-black"
>
<Fragment slot="content">
<h2>Pourquoi Asafram ?</h2>
<h3>Titre en h3</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat qui, culpa voluptate exercitationem repudiandae illum perspiciatis accusantium id veniam recusandae accusamus, nesciunt beatae dolorem dolorum quidem. Repudiandae voluptatem sit voluptate?</p>

</LayoutLandingPage>