---
const { circleColor, nombre, text } = Astro.props;
---

<div class="flex flex-col items-center text-center max-w-xs mx-auto my-6">
  <div class="flex items-center justify-center mb-4">
    <div
      class={` w-40 h-40 ${circleColor} rounded-full flex items-center justify-center relative`}
    >
      <div class="z-0">
        <span
          class="text-7xl text-black font-semibold uppercase font-radio-canada"
          >{nombre}</span
        >
      </div>
    </div>
  </div>
  <div>
    <p class="text-lg">{text}</p>
  </div>
</div>
